.gallery__overlay {
	position: fixed;
	inset: 0;
	background: rgb(0 0 0 / 43%);
	backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	z-index: 150;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease;
}

.gallery__overlay.overlay-active {
	opacity: 1;
	visibility: visible;
}

/* Секция Наши ценности */

.about {
	padding-block: 300px 100px;
}

.about__title {
	text-align: center;
	font-size: 27px;
	font-weight: 700;
	text-transform: capitalize;
}

.about--line {
	position: relative;
	margin-bottom: 75px;
}

.about--line::before {
	content: '';
	position: absolute;
	width: 100px;
	height: 4px;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
	background: #10B981;
}

.about__items {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	flex-wrap: wrap;
}

.about__item {
	display: inline-block;
	background: #F8FAFC;
	border-radius: 20px;
	padding: 25px;

	flex-basis: auto;
	flex-shrink: 1;
	/* flex-grow: 1; */
	box-shadow: 0 0 0 transparent;
	transition: all 0.5s ease;
}

.about__item:hover {
	background: #fff;
	box-shadow: 0 8px 20px #e2e2e2;
}

.about__item:hover .about__item-title {
	color: #059669;
}

.about__item:hover .about__item-icons {
	transform: scale(1.1);
}

.about__item-icons {
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 10px;
	display: grid;
	place-items: center;
	box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.106);
	margin-bottom: 25px;
	transition: transform 0.4s ease;
}

.about__item-icon {
	color: #059669;
}

.about__item-title {
	color: #000;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
	transition: color 0.5s ease;
}

.about__item-text {
	max-width: 350px;
	font-size: 15px;
	color: #475569;
}

@media screen and (max-width: 600px) {
	.about__title {
		font-size: calc(23px + (27 - 23) * ((100vw - 400px) / (600 - 400)));
	}

	.about--line::before {
		width: calc(80px + (100 - 80) * ((100vw - 400px) / (600 - 400)));

	}

	.about__item-title {
		font-size: calc(18px + (20 - 18) * ((100vw - 400px) / (600 - 400)));
	}

	.about__item {
		padding: calc(15px + (20 - 15) * ((100vw - 400px) / (600 - 400)));
	}
}

@media screen and (max-width: 400px) {
	.about--line::before {
		width: 80px;
	}

	.about__title {
		font-size: 23px;
	}


	.about__item {
		padding: 15px;
	}

	.about__item-title {
		font-size: 18px;
	}
}

/* Секция Наши ценности */


/* Секция наши партнеры */
.partners {
	padding-block: 100px;
	padding-inline: 100px;
	background: #F3F9FA;
}

.partners__info {
	text-align: center;
	margin-bottom: 45px;
}

.partners__title {
	font-size: 27px;
	font-weight: 700;
	margin-bottom: 15px;
}

.partners__text {
	color: #96A2AD;
	font-weight: 400;
}

.partners__items {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 20px;
}

.partners__item {
	position: relative;
	overflow: hidden;
	/* max-width: 250px;
	width: 100%; */
	padding: 20px;
	border-radius: 20px;
	border: 1px solid #DFE9EE;
	background: #FFFFFF;
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-height: 175px;
}

.partners__item::after {
	content: '';
	position: absolute;
	width: 75px;
	height: 75px;
	background: #10B981;
	filter: blur(90px);
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease;
}

.partners__item::before {
	content: '';
	position: absolute;
	width: 70%;
	height: 2px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(to right, rgba(30, 120, 255, 0), #10B981, rgba(30, 120, 255, 0));
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease;
}

.partners__item:hover::after,
.partners__item:hover::before {
	opacity: 1;
	visibility: visible;
}

.partners__item:hover .partners__item-text {
	color: #000;
	transform: scale(1.1);
}

.partners__item:hover .partners__item-icons {
	background: #ECFDF5;
	color: #10B981;
}

.partners__item:hover .partners__item-icon {

	color: #10B981;
}

.partners__item-icons {
	width: 70px;
	height: 70px;
	background: #F8FAFC;
	display: grid;
	place-items: center;
	padding: 10px;
	border-radius: 50%;
	margin-bottom: 20px;
	transition: color 0.4s ease, background 0.4s ease;
}

.partners__item-icon {
	color: #94A3B8;
}

.partners__item-text {
	font-size: 13px;
	color: #A2A3B8;
	font-weight: 600;
	text-transform: uppercase;
	transition: color 0.4s ease, transform 0.4s ease;
}

@media screen and (max-width: 1000px) {
	.partners__items {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
}

@media screen and (max-width: 600px) {
	.partners {
		padding-inline: calc(50px + (100 - 50) * ((100vw - 400px) / (600 - 400)));
	}

	.partners__title {
		font-size: calc(23px + (27 - 23) * ((100vw - 400px) / (600 - 400)));
	}

}

@media screen and (max-width: 400px) {
	.partners {
		padding-inline: calc(0px + (50 - 0) * ((100vw - 300px) / (400 - 300)));
	}

	.partners__title {
		font-size: 23px;
	}

	.partners__items {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

}

@media screen and (max-width: 300px) {
	.partners {
		padding-inline: 0;
	}
}

/* Секция наши партнеры */


/* секция Лицензии и Сертификаты */

.licenses {
	padding-block: 100px;
}

.licenses__status {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 60px;

}

.licenses__title {
	font-size: 27px;
	font-weight: 700;
	margin-bottom: 15px;
}

.licenses__text {
	max-width: 700px;
	width: 100%;
	color: #96A2AD;
	font-weight: 600;
}

.licenses__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 20px;
}

.licenses__item {
	background: #F7F9FB;
	padding: 20px;
	max-width: 325px;
	width: 100%;
	cursor: pointer;
	border-radius: 20px;
	border: 1px solid rgba(128, 128, 128, 0.289);
	box-shadow: 0 0 0 rgb(0, 0, 0);
	transition: all 0.5s ease;
	box-shadow: 0 0px 0px 0px rgba(255, 255, 255, 0.25);

}

.licenses__item:hover {
	transform: translateY(-3px) scale(1.03);
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.licenses__item:hover .licenses__item--connect {
	background: rgb(194, 113, 255);
}

.licenses__item:hover .licenses__item--connect2 {
	background: rgb(0, 221, 255);
}

.licenses__item:hover .licenses__item--connect3 {
	background: rgb(255, 89, 0);
}



.licenses__item--certificates,
.licenses__item--connection,
.licenses__item--tv {
	position: relative;
	overflow: hidden;
}

.licenses__item--certificates::before,
.licenses__item--connection::before,
.licenses__item--tv::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	aspect-ratio: 1;
	filter: blur(55px);
	opacity: 0.2;
	transition: opacity 0.4s ease;
}

.licenses__item--connection::before {
	background: rgb(124, 18, 204);
}

.licenses__item--certificates::before {
	background: rgb(0, 221, 255);
}

.licenses__item--tv::before {
	background: rgb(255, 89, 0);
}

.licenses__item--certificates::after,
.licenses__item--connection::after,
.licenses__item--tv::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 55px;
	height: 55px;
	aspect-ratio: 1;
	filter: blur(85px);
	opacity: 0.2;
	transition: opacity 0.4s ease;
}

.licenses__item--connection::after {
	background: rgb(132, 0, 255);
}

.licenses__item--certificates::after {
	background: rgb(0, 221, 255);
}

.licenses__item--tv::after {
	background: rgb(255, 89, 0);
}

.licenses__item--certificates:hover::before,
.licenses__item--connection:hover::before,
.licenses__item--tv:hover::before,
.licenses__item--certificates:hover::after,
.licenses__item--connection:hover::after,
.licenses__item--tv:hover::after {
	opacity: 1;
}

.licenses__group {
	display: flex;
	gap: 25px;
}

.licenses__group-icons {
	line-height: 1;
	background: #ffffff;
	border: 1px solid #00000025;
	width: 37px;
	height: 37px;
	display: grid;
	place-items: center;
	border-radius: 5px;
	box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.106);
}


.scanline-icon-blue {
	color: #0EA5E9;
}

.scanline-icon-gren {
	color: #10B981
}

.scanline-icon-red {
	color: #F43F5E;
}

.licenses__group-title {
	font-size: 13px;
	text-transform: uppercase;
	color: #98A7BB;
	font-weight: 600;
	letter-spacing: 0.05rem;
	margin-bottom: 35px;
}

.licenses__number {
	padding-bottom: 20px;
	border-bottom: 1px solid #ebeff5;
	margin-bottom: 20px;
}

.licenses__number-title {
	font-weight: 800;
	font-size: 19px;
	font-family: 'JetBrains Mono', monospace;
	margin-bottom: 5px;
}

.licenses__number-text {
	font-size: 14px;
	color: #6C7B91;
	font-weight: 500;

}

.licenses__scanline {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}

.licenses__scanline-item {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #059669;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}

.licenses__scanline-icons {
	line-height: 1;
}

.licenses__scanline-icon {
	width: 18px;
	height: 18px;
}

.licenses__scanline-text {}

.licenses__scanline-items {
	background: #000000;
	width: 35px;
	height: 35px;

	display: grid;
	grid-template-columns: repeat(2, 8px);
	grid-template-rows: repeat(2, 8px);
	gap: 2px;

	justify-content: center;
	align-content: center;
	border-radius: 10px;
}

.licenses__scanline-item-decor {
	background: #CFD1D4;
	border-radius: 2px;
	width: 8px;
	height: 8px;
	transition: background 0.4s ease;
}

.no-decore {
	opacity: 0;
	visibility: hidden;
}


.licenses__gallery-imgs {
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	background: rgba(255, 255, 255, 0.345);
	backdrop-filter: blur(4px);
	border-radius: 20px;
	box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.913);
	transform: translate(-50%, -50%) scale(0.5);
	/* transform: translate(-50%, -50%); */

	z-index: 150;
	width: 450px;
	height: auto;
	padding: 20px;
	z-index: 200;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}

.licenses__gallery-imgs.active-gallery {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1);
}

.licenses__gallery-img {
	width: 100%;
	height: auto;

}

.button__licenses-close {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #86868657;
	backdrop-filter: blur(15px);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	border-top-right-radius: 20px;
	border-radius: 3px 20px 3px 8px;
	border: 1px solid rgb(155, 155, 155);
	transition: all 0.4s ease;
	color: #ffffff;
}

.button__licenses-close:hover {
	background: #eaeaea;
	color: rgb(0, 0, 0);
}

.button__licenses-close i {
	font-size: 20px;
}


@media screen and (max-width: 800px) {
	.licenses__items {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.licenses__title {
		font-size: calc(23px + (27 - 23) * ((100vw - 400px) / (600 - 400)));
	}
}

@media screen and (max-width: 400px) {
	.licenses__title {
		font-size: calc(23px + (27 - 23) * ((100vw - 400px) / (600 - 400)));
	}
}

@media screen and (max-width: 300px) {
	.licenses__number-title {
		font-size: calc(15px + (19 - 15) * ((100vw - 200px) / (300 - 200)));
	}
}

@media screen and (max-width: 200px) {
	.licenses__number-title {
		font-size: 15px;
	}
}

/* секция Лицензии и Сертификаты */



/* Секция документов  */
.documents {
	padding: 0 100px;
	padding-block: 0 100px;
}

.documents__inner {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 25px;
}

.documents__list {
	width: 100%;
	max-width: 600px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}


.document-card {
	background: #FDFEFE;
	border: 1px solid #E2E8F0;
	border-radius: 20px;
	padding: 25px;
	transition: all 0.4s ease;
	cursor: pointer;
}

.document-card:hover {
	border-color: #61A5FA;
	box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.236);
}

.document-card:hover .document-card__meta-icon {
	color: #0015ff;
}

.document-card__i {
	background: #F8FAFC;
	color: #64748B;
	display: inline-block;
	padding: 8px;
	border-radius: 10px;
	margin-bottom: 20px;
	line-height: 1;
}

.document-card--large {
	grid-column: span 2;
	display: flex;
	gap: 25px;
}

.document-card__icons {
	width: 45px;
	height: 45px;
	color: #2563EB;
	background: #fff;
	display: grid;
	place-items: center;
	border-radius: 10px;
	border: 1px solid #F1F5F9;
	box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.106);
	margin-bottom: 20px;

}

.document-card-icon {}

.document-card__content {}

.document-card__title {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 20px;
	max-width: 130px;
	width: 100%;
}

.document-card--large .document-card__title {
	font-size: 22px;
	max-width: 100%;
}

.document-card__text {
	font-size: 13px;
	color: #64748B;
	max-width: 300px;
	width: 100%;
	margin-bottom: 20px;

}

.document-card__button {}

.document-card__button span {
	font-weight: 600;
	font-size: 14px;
	color: #4E63EC;
}

.document-card__button-icon {}

.document-card__meta {
	color: #94A3B8;
	font-size: 11px;
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.document-card__meta-icon {
	font-size: 15px;
	line-height: 1;
}

.documents__animation {
	max-width: 390px;
	width: 100%;
	min-height: 490px;
	padding-inline: 15px;
	background: rgb(255, 255, 255);
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.106);
	border-radius: 25px;
	display: grid;
	place-items: center;
	align-items: end;
	padding-block: 0 30px;
	z-index: 0;

}

.documents__animation-box {
	position: relative;
}

.documents__animation-protection {
	position: relative;
	display: block;
	width: 230px;
	height: 280px;
	border-radius: 40px 0 40px 0;
	display: grid;
	place-items: center;
	border: 2px solid #C8EFE2;
	box-shadow: 0 0 25px #C8EFE2;
	background: #E5F7F2;
	background-image: linear-gradient(rgba(16, 185, 129, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(16, 185, 129, 0.05) 1px, transparent 1px);
	background-size: 20px 20px;
	z-index: 1;
	overflow: hidden;
	animation: float 6s ease-in-out infinite;

}

@keyframes float {

	0%,
	100% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-20px);
	}
}

.documents__animation-protection::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 150%;
	height: 3px;
	box-shadow: 0 0 15px #34d399;
	background-color: rgb(52 211 153 / 0.5);
	animation: scan 3s linear infinite;
}

@keyframes scan {
	0% {
		top: 0%;
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		top: 100%;
		opacity: 0;
	}
}




.documents__animation-icons {
	color: #39C697;
}

.documents__animation-radius-decor1 {
	position: absolute;
	width: 130px;
	height: 130px;
	border: 2px solid #E5FAF0;
	/* border: 2px solid #ff0000; */
	border-radius: 100%;
	bottom: -30px;
	right: -30px;
	z-index: 0;
	animation: float 6s ease-in-out infinite;
}

.documents__animation-radius-decor2 {
	position: absolute;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	border: 2px dashed #E5FAF0;
	bottom: -15px;
	right: -15px;
	z-index: 0;
	animation: float-rotate 6s linear infinite;
}

@keyframes float-rotate {

	0%,
	100% {
		transform: translateY(0px) rotate(0deg);
	}

	50% {
		transform: translateY(-20px) rotate(90deg);
	}
}

.documents__animation-completed,
.documents__animation-lock {
	position: absolute;
	display: inline-block;
	padding: 10px;
	background: rgb(255, 255, 255);
	box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.274);
	border-radius: 10px;
	line-height: 1;
	z-index: 5;
}

.documents__animation-completed-icon {
	color: #10B981;

}

.documents__animation-lock-icon {
	color: #06B6D4;
}

.documents__animation-lock {
	left: -25px;
	top: 170px;
	animation: bounce 5s infinite reverse;
}

.documents__animation-completed {
	top: 20%;
	right: -25px;
	animation: bounce 4s infinite;
}

@keyframes bounce {

	0%,
	100% {
		transform: translateY(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}

	50% {
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

.documents__animation-layout {
	padding: 15px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.179);
	display: flex;
	align-items: center;
	gap: 12px;
}

.documents__animation-circle {
	width: 10px;
	height: 10px;
	background: #10B981;
	border-radius: 50%;
	animation: puls-anim 4s infinite;
}

@keyframes puls-anim {
	from {
		transform: scale(0.8);
		opacity: 0.7;
	}

	to {
		transform: scale(1.3);
		opacity: 0;
	}
}


.documents__animation-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	color: #556274;
	flex-grow: 1;

}

.documents__animation-text {
	color: #99A7BB;
	text-transform: uppercase;
	font-size: 12px;

}


@media screen and (max-width: 1300px) {
	.documents__animation {
		max-width: calc(340px + (390 - 340) * ((100vw - 1100px) / (1300 - 1100)));
		min-height: calc(390px + (490 - 390) * ((100vw - 1100px) / (1300 - 1100)));
	}

	.documents__animation-protection {
		width: calc(200px + (230 - 200) * ((100vw - 1100px) / (1300 - 1100)));
		height: calc(220px + (280 - 220) * ((100vw - 1100px) / (1300 - 1100)));
	}

	.documents__animation-lock {
		top: calc(110px + (170 - 110) * ((100vw - 1100px) / (1300 - 1100)));
	}
}

@media screen and (max-width: 1100px) {
	.documents__animation {
		max-width: 340px;
		min-height: 390px;
	}

	.documents__animation-protection {
		width: 200px;
		height: 220px;
	}

	.documents__animation-lock {
		top: 110px;
	}
}

@media screen and (max-width: 1000px) {
	.documents__inner {
		flex-direction: column;
	}

	.documents__animation {
		max-width: 600px;
	}
}

@media screen and (max-width: 680px) {
	.documents__list {
		grid-template-columns: repeat(1, 1fr);
	}

	.document-card--large {
		grid-column: span 1;
		display: flex;
		gap: 25px;
	}

	.documents__animation-title {
		font-size: calc(10px + (12 - 10) * ((100vw - 400px) / (680 - 400)));
	}
}

@media screen and (max-width: 570px) {
	.documents {
		padding-inline: calc(10px + (100 - 10) * ((100vw - 400px) / (570 - 400)));

	}

	.documents__animation-text {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.documents__animation-protection {
		width: calc(150px + (200 - 150) * ((100vw - 300px) / (480 - 300)));
		height: calc(200px + (220 - 200) * ((100vw - 300px) / (480 - 300)));
	}

	.documents__animation-title {
		font-size: 10px;
	}

	.document-card--large {
		flex-direction: column;
	}

	.document-card__icons {
		margin-bottom: 0;
	}

	.documents__animation-completed-icon,
	.documents__animation-lock-icon {
		width: calc(18px + (24 - 18) * ((100vw - 300px) / (480 - 300)));
		height: calc(18px + (24 - 18) * ((100vw - 300px) / (480 - 300)));
	}
}

@media screen and (max-width: 300px) {
	.documents__animation-protection {
		width: 150px;
		height: 200px;
	}
}



/* Секция документов  */