.news__overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(6px);
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
}

.news__overlay.active {
	opacity: 1;
	visibility: visible;
}

.mb-25 {
	margin-bottom: 25px;
}

/* Новости & События табы */
.news__tabs {
	padding-block: 300px 100px;
}

.news__inner {}

.news__wrapper {
	display: flex;
	align-items: end;
	justify-content: space-between;
	margin-bottom: 80px;
	gap: 20px;
}



.news__text {}

.news__text-tag {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.news__text-circle {
	width: 8px;
	height: 8px;
	aspect-ratio: 1;
	background: #5CCFA9;
	border-radius: 50%;
	;
}

.news__text-text {
	text-transform: uppercase;
	color: #059669;
	font-size: 10px;
	letter-spacing: 0.1rem;
	font-weight: 700;
}

.news__title {
	font-size: 57px;
	font-weight: 700;
	line-height: 1;

}

.news__title-accent {
	color: #94A3B8;
}

.news__tabs-btn {}

.news__button {
	border-radius: 20px;
	font-size: 12px;
	border: 2px solid #ffffff;
	padding: 6px 15px;
	outline: 1px solid #E2E8F0;
	border: 2px solid #ffffff;
	color: #66768C;
	font-weight: 600;
	text-transform: uppercase;
}

.news__button:not(:last-child) {
	margin-right: 5px;
}

.news__button-active {
	background: rgb(0, 0, 0);
	border: 2px solid #ffffff;
	outline-color: #000;
	color: #fff;
}

.news__grid-tabs {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 30px;
	grid-auto-flow: dense;
	transition: opacity 0.3s ease;
	/* align-items: start; */
}

.news__grid-tabs.filtering {
	opacity: 0;
}

/* НАВИГАЦИЯ */

.card[data-size="big"] {
	grid-column: span 4;
	grid-row: span 2;
}

.card[data-size="wide"] {
	grid-column: span 2;
	grid-row: span 2;
}

.card[data-size="wide-2"] {
	grid-column: span 3;
	grid-row: span 3;
}

.card[data-size="tall"] {
	grid-column: span 3;
}


.card {
	border: 1px solid #F3F7FA;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.152);
	border-radius: 20px;
	padding: 20px 25px;
	transition: all 0.4s ease;
	pointer-events: none;

	opacity: 0;
	transform: translateY(30px);
	/* Карточка чуть ниже */
	transition:
		opacity 0.6s ease-out,
		transform 0.6s ease-out,
		border-color 0.3s ease,
		box-shadow 0.3s ease;
	/* Добавляем плавность для всех свойств */

	will-change: opacity, transform;
}

.card.show {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.card.show:hover {
	border-color: #2563EB;
	box-shadow: 0 0 30px 2px #2563eb47;
	transform: translateY(-5px) !important;
	;
	transition: transform 0.3s ease;

}

.card:hover .card__title {
	color: #2563EB;
}

.card--big {
	/* max-width: 800px; */
	/* background: #5CCFA9; */

}

.type-ads {}

.card__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 300px;
}

.card__wrap {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	margin-bottom: 25px;
}

.card__tag {
	display: inline-flex;
	text-transform: uppercase;
	color: #109B70;
	font-size: 11px;
	font-weight: 700;
	padding: 4px 13px;
	border-radius: 20px;
	border: 1px solid #F8FAFC;
	margin-right: 10px;
	/* letter-spacing: 0.0z8rem; */
}

.advertisements {
	color: #059669;
	background: #ECFDF5;
	border-color: #D2FAE5;
}

.ktv {
	color: #2563EE;
	background: #EFF6FF;
	border-color: #DBEAFE;
}

.works {
	text-transform: uppercase;
	color: #DA8415;
	background: #FFFBEB;
	border-color: #FEF3C7;
}

.card__time {
	color: #94A3B8;
	font-size: 11px;
	font-family: 'JetBrains Mono', monospace;
	font-style: italic;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-left: auto;
}

.card__time-icons {
	line-height: 1;
}

.card__tabs-icon {
	width: 11px;
	height: 11px;

}

.card__time-icon {}

.card__time-text {}

.card__content {
	/* margin-bottom: 25px; */
}

.card__title {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 20px;
	line-height: 1;
	transition: color 0.4s ease;
}

.main-news {
	font-size: 32px;
}

.card__text {
	color: #8490A3;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;

}

.card__text--accent {
	font-weight: 600;
	color: #000;
}

/* Информация нв блоке  */


.card__information {
	background: #F8FAFC;
	border-radius: 20px;
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.card__items {}

.card__item {
	position: relative;
	padding-left: 15px;
}

.card__item::before {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	aspect-ratio: 1;
	background: #34D399;
	left: 0;
	top: 5px;
	border-radius: 100%;
}

.card__item:not(:last-child) {
	margin-bottom: 20px;
}

.card__item-content {}

.card__item-title {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

.card__item-text {
	font-size: 13px;
	color: #708095;
}

/* Информация нв блоке  */

/* СОЦ СЕТИ */
.card__social {}


.card__social-link {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(13, 13, 13, 0.265);
	padding: 6px 15px;
	transition: opacity 0.4s ease;
}

.card__social-link:hover {
	opacity: 0.8;
}

.card__social-link:not(:last-child) {
	margin-right: 15px;
}

.social--telegram {
	background: #2AABEE;

}

.social--vk {
	background: #0077FF;
}

.card__social-title {}


/* СОЦ СЕТИ */

.card__line {
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(195, 195, 195, 0.17), rgba(0, 0, 0, 0));
	/* margin-top: 25px; */
	margin-bottom: 25px;

}

.card__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	;
}

.card__info-actions {
	display: flex;
	align-items: center;
}

.card__info-action {
	text-transform: uppercase;
	background: #F1F5F9;
	font-size: 10px;
	display: grid;
	place-items: center;
	width: 20px;
	height: 20px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid #fff;
	font-weight: 700;
}

.card__info--n {
	color: #159E72;
	background: #D1FAE5;
}

.card__info--t {
	color: #546174;
	margin-left: -5px;
}

.card__info-button {
	color: #059669;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
	padding-right: 10px;
	opacity: 0.7;
	transition: opacity 0.4s ease;
}

.card__info-button:hover {
	opacity: 1;
}

.card__info-button-text {
	margin-right: 5px;
}

.card__info-button-icon {
	transition: all 0.5s ease;
	display: inline-block;
}

.card__info-button:hover .card__info-button-icon {
	transform: translateX(5px);
}

.news__more-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px 0;
}

.news__more-button {
	border-radius: 20px;
	padding: 13px 25px;
	text-transform: uppercase;
	color: #119B70;
	font-size: 12px;
	font-weight: 700;
	border: 1px solid #10B981;
	box-shadow: 0 20px 25px -5px #d1fae5,
		0 8px 10px -6px #d1fae5;
	transition: all 0.5s ease;
	gap: 15px;
	align-items: center;
	justify-content: center;
}

.news__more-button:hover {
	background: #10B981;
	color: #fff;
}

.news__more-cions {}

.news__more-text {}

.news__more-button:hover .news__more-loop-right {
	animation: rotate-loop 1s infinite linear;
}

@keyframes rotate-loop {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* Новости & События табы */

/* Базовое состояние карточки перед анимацией */



/* Модальное окно для новостей  */
.news--modal {

	/* background: rgb(255, 0, 0); */
	/* padding: 50px; */
}

@media screen and (max-width: 1200px) {
	.news__grid-tabs {
		gap: calc(10px + (30 - 10) * ((100vw - 1000px) / (1200 - 1000)));
	}
}

@media screen and (max-width: 1000px) {
	.news__grid-tabs {
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}

	.card[data-size="big"] {
		grid-column: span 2;
		grid-row: span 1;
	}

	.card[data-size="wide"] {
		grid-column: span 1;
		grid-row: span 1;
	}

	.card[data-size="wide-2"] {
		grid-column: span 2;
		grid-row: span 1;
	}

	.card[data-size="tall"] {
		grid-column: span 2;
	}
}

@media screen and (max-width: 800px) {
	.news__grid-tabs {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	.card[data-size="big"] {
		grid-column: span 2;
		grid-row: span 1;
	}

	.card[data-size="wide"] {
		grid-column: span 2;
		grid-row: span 1;
	}

	.card[data-size="wide-2"] {
		grid-column: span 1;
		grid-row: span 2;
	}

	.card[data-size="tall"] {
		grid-column: span 1;
	}
}

@media screen and (max-width: 740px) {
	.news__wrapper {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: calc(40px + (80 - 40) * ((100vw - 600px) / (740 - 600)));
	}

	.news__button {
		margin-bottom: 10px;
	}

	.news__title {
		font-size: calc(42px + (57 - 42) * ((100vw - 600px) / (740 - 600)));
		margin-bottom: 30px;
	}

	.news__title br {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.news__title {
		font-size: 42px;
	}

	.news__wrapper {
		margin-bottom: 40px;
	}

	.news__grid-tabs {
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	}

	.card[data-size="big"] {
		grid-column: span 1;
		grid-row: span 1;
	}

	.card[data-size="wide"] {
		grid-column: span 1;
		grid-row: span 1;
	}

	.card[data-size="wide-2"] {
		grid-column: span 1;
		grid-row: span 1;
	}

	.card[data-size="tall"] {
		grid-column: span 1;
	}
}

@media screen and (max-width: 500px) {
	.card {
		padding-inline: calc(8px + (25 - 8) * ((100vw - 300px) / (500 - 300)));
		padding-block: calc(10px + (20 - 10) * ((100vw - 300px) / (500 - 300)));
	}

}

@media screen and (max-width: 300px) {
	.card {
		padding-inline: 8px;
		padding-block: 10px;
	}
}


.news--modal {
	position: fixed;
	overflow: hidden;
	max-width: 588px;
	width: 100%;
	border-radius: 25px;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	/* background: red; */
}

.news--modal.modal--active {
	display: flex;
	animation: fadeIn 0.3s ease;
}

.modal__inner {
	max-height: 80vh;
	overflow-y: auto;
	position: relative;
	/* scrollbar-width: none; */
	background: #E0E2E5;
	border-radius: 20px;

}

.modal__inner::-webkit-scrollbar {
	display: none;
}

.modal__header {
	position: sticky;
	top: 0;
	z-index: 10;
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(255, 255, 255, 0.495);
	-webkit-backdrop-filter: blur(5px);
	border-bottom: 2px solid;
	border-image-source: linear-gradient(to right, #e0e2e500, #000000, #ffffff00);
	border-image-slice: 1;

}

.modal-header-tag {
	display: inline-flex;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	padding: 4px 13px;
	border-radius: 20px;
	border: 1px solid #F8FAFC;

}

.modal-header-close {
	background: #fff;
	border: 1px solid #E3E9F1;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	aspect-ratio: 1;
	font-size: 18px;
	color: #94A3B8;
	transition: border-color 0.4s ease;
	box-shadow: 0 0 5px #ffffff;

}

.modal-header-close:hover {
	border-color: #A0F1CD;
	color: #059669;
	box-shadow: 0 0 5px #A0F1CD;
}


.modal__body {
	padding: 10px 25px 30px;
	background: #ffffff;
}

.modal__body::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

.modal__title {
	font-size: 37px;
	color: #000;
	font-weight: 700;
	line-height: 1;
}

.modal__time {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 25px;
}

.modal__time-icons {
	color: #6ECFB0;
}

.ri-time-line {}

.modal__time-text {
	font-size: 14px;
	color: #94A3B8;
	font-weight: 600;
	letter-spacing: -0.05rem;
}

.modal__images {
	overflow: hidden;
	border-radius: 20px;
	border: 3px solid #fff;
	margin-bottom: 25px;
}

.modal__image {
	max-width: 600px;
	width: 100%;
	height: auto;
	display: block;
	object-position: center;
	object-fit: cover;
}

.modal__description {
	color: #5F6B7D;
	font-size: 17px;
	line-height: 1.5;
	margin-bottom: 25px;
}

.modal__details {
	color: #65758C;
	font-weight: 600;
	margin-bottom: 25px;
}


.modal__footer {
	position: relative;
	padding-block: 15px 0;
	/* background: #F4F6F8; */
}

.modal__footer::after {
	content: '';
	position: absolute;
	width: 85%;
	height: 1px;
	background: linear-gradient(to right, #ffffff00, #ffffff, #e0e2e500);
	top: 0;
	left: 50%;
	transform: translateX(-50%);

}


.modal__button-back {
	display: flex;
	align-items: center;
	gap: 15px;
	border-radius: 25px;
	padding: 8px 20px;
	transition: background 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
	color: #6A798F;

}

.modal__button-back:hover {
	background: #fff;
	color: #000;
	box-shadow: 0 0 15px rgba(177, 177, 177, 0.316);
}

.modal__button-back:hover .modal__button-icons {
	background: #ECFDF5;
	color: #059569;
}

.modal__button-icons {
	width: 30px;
	height: 30px;
	aspect-ratio: 1;
	display: grid;
	place-content: center;
	border-radius: 50%;
	background: #fff;
}

.modal__button-title {
	font-weight: 700;

	text-transform: uppercase;
	font-size: 14px;
}

/* Модальное окно для новостей  */